@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	h1
		font-size: 3.000em
	h2
		font-size: 2.250em
	.img-grey
		display: none
	.img-black
		display: inline-block
	.header
		padding-top: 15px
		&__login
			display: none
		&__hide
			&-close
				display: inline-block
				position: absolute
				right: 10px
				z-index: 2
				color: $color_btn
				font-size: 40px
			&-content
				margin-top: 80vh
				text-align: center
			&-btn
				position: relative
				width: 200px
				padding: 17px 0 17px 0
			&-img
				position: absolute
				left: 15px
				height: 19px
		&__icon
			display: inline-block
			position: absolute
			right: 10px
	.header__text-description
		font-size: 1.250em
/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

