@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.header
		&__appeal
			&::after
				right: 33%
	
	.flight-main
		&__header
			&-start
				width: 25%
		&__content
			&-item
				margin-right: 53px
				&:last-child
					margin-right: 20px
			&-img
				margin-right: 6px
		&__img
			max-width: 194px
		&__btn
			&-text
				padding: 0 12px

	.flight__btn-text
		padding: 0 12px

	.questions__item-header
		width: 96%


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.header
		&__appeal
			&::after
				right: 27%
	.flight-main
		&__header
			&-start
				width: 36%
			&-img
				display: none
				&-responsive
					display: block
					margin-left: 10px
					float: left
					height: 34px
			&-price
				width: 60%
		&__content
			&-item
				margin-right: 24px
				&:last-child
					margin-right: 0
			&-img
				margin-right: 2px

		&__img
			max-width: 150px
	.missed
		&__header
			&-start
				width: 36%
			&-img
				display: none
				&-responsive
					display: block
					margin-left: 10px
					float: left
					height: 34px
			&-price
				width: 60%
	.community__images-seconditem
		left: 110%
		width: 310px
		padding: 35px 35px
	.questions__item-header
		width: 95%


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.header
		&__appeal
			&::after
				display: none
	.flight-main
		float: none
		position: relative
		margin: 0 auto
		width: 100%
		max-width: 300px
		&__img
			float: none
			width: 100%
			max-width: 300px
			margin: 0 auto
			&>img
				width: 300px
		&__header
			&-price
				width: 140px
				height: 34px
				color: $color_link
				border: 1px solid $color_sub
				border-right: none
				box-sizing: border-box
				text-align: center
			&-btn
				width: 140px
				margin: 0
				height: 34px
				line-height: 34px
		&__responsive
			position: absolute
			top: 150px
			z-index: 2
			width: 280px
		&__content
			padding: 15px 20px 70px 20px
			&-item
				width: 100%
				margin-right: 0
				&:nth-child(3)
					display: none
				&:nth-child(4)
					display: none
			&-img
				width: 8%
				margin: 0 15px 0 0
			&-sup
				width: 84%
			&-info
				display: inline-block
				width: 45%
			&-description
				display: inline-block
				width: 45%
				padding-left: 6px
		&__btn
			display: block
			margin: 40px auto 20px
			height: 60px
			max-width: 300px
			width: 100%
			text-align: center
			&-text
				line-height: 60px
			&-sup
				float: right
				padding: 22px 12px
		&__text
			display: block
			padding: 0 15px
			text-align: center
			margin: 10px auto
			max-width: 235px
			
	.missed
		float: none
		position: relative
		margin: 0 auto
		width: 100%
		max-width: 300px
		&__header
			height: 106px
			
			&-img-responsive
				height: 32px
			&-price
				text-align: left
				margin-top: 25px
			&-btn
				margin-top: 25px
	.flight
		//float: none
		//position: relative
		//margin: 0 auto
		//width: 100%
		//max-width: 300px
		//&__img
		//	float: none
		//	width: 100%
		//	max-width: 300px
		//	margin: 0 auto
		//	&>img
		//		width: 300px
		//&__header
		//	&-price
		//		width: 140px
		//		height: 34px
		//		color: $color_link
		//		border: 1px solid $color_sub
		//		border-right: none
		//		box-sizing: border-box
		//		text-align: center
		//	&-btn
		//		width: 140px
		//		margin: 0
		//		height: 34px
		//		line-height: 34px
		//&__responsive
		//	position: absolute
		//	top: 150px
		//	z-index: 2
		//	width: 280px
		//&__content
		//	padding: 15px 20px 70px 20px
		//	&-item
		//		width: 100%
		//		margin-right: 0
		//		&:nth-child(3)
		//			display: none
		//		&:nth-child(4)
		//			display: none
		//	&-img
		//		width: 8%
		//		margin: 0 15px 0 0
		//	&-sup
		//		width: 84%
		//	&-info
		//		display: inline-block
		//		width: 45%
		//	&-description
		//		display: inline-block
		//		width: 45%
		//		padding-left: 6px
		&__btn
			display: block
			margin: 40px auto 20px
			height: 60px
			max-width: 300px
			width: 100%
			text-align: center
			&-text
				line-height: 60px
			&-sup
				float: right
				padding: 22px 12px
		&__text
			display: block
			padding: 0 15px
			text-align: center
			margin: 0 auto
			max-width: 235px
	.pictures
		background-image: none
	.community__btn
		margin: 120px auto 20px
	.community__images
		margin: 84px auto 160px
	//.community__images-link
	//	@include circle
	.community__images-firstitem,
	.community__images-seconditem,
	.community__images-thirditem
		visibility: visible
		width: 278px
		height: 215px
		background-color: rgb(255, 255, 255)
		color: rgb(105, 105, 105)
		padding: 35px 45px
		box-shadow: 2.7px 6.4px 16px rgba(20, 20, 21, 0.18)
		position: absolute
		z-index: 999
		top: 110%
		left: -35%
		opacity: 1
		&::after
			content: " "
			position: absolute
			bottom: 100%
			left: 56%
			margin-left: -33px
			border-width: 15px
			border-style: solid
			border-color: rgb(255, 255, 255) transparent transparent transparent
			transform: rotateX( 180deg )
	.community__images-thirditem
		right: 0
	.questions__item-header
		width: 93%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	h1
		font-size: 3.000em
	h2
		font-size: 2.250em
	h4
		font-size: 1.125em
	.breakers__header, .breakers__subheader
		display: block
		margin: 0 auto
		max-width: 285px
	.help
		&__header
			margin-top: 35px
			max-width: 266px
		&__subheader
			margin-top: 60px
			max-width: 228px
		&__btn
			margin-top: 150px
			margin-bottom: 35px
			width: 228px
			height: 54px
			line-height: 54px
	.img-grey
		display: none
	.img-black
		display: inline-block
	.header
		padding-top: 15px
		&__login
			display: none
		&__hide
			&-close
				display: inline-block
				position: absolute
				right: 10px
				z-index: 2
				color: $color_btn
				font-size: 40px
			&-content
				margin-top: 80vh
				text-align: center
			&-btn
				position: relative
				width: 200px
				padding: 17px 0 17px 0
			&-img
				position: absolute
				left: 15px
				height: 19px
		&__icon
			display: inline-block
			position: absolute
			right: 10px
	.main
		background: url(../img/footer-bg.jpg) center bottom no-repeat
		background-size: 100% 711px
		&__header
			padding-top: 20px
	.header__text-description
		font-size: 1.250em
	.header__thumbtacks
		margin-top: 30px
		&-cheap
			display: block
			border-right: 1px solid rgba(255, 255, 255, 0.5)
			width: 250px
			margin: 0 auto 10px
		&-sign
			display: block
			width: 250px
			padding: 1px 0 0
			margin: auto
	.flight-main__price
		padding: 15px
		font-size: 3em
	.flight-main__header-img
		display: none
	.flight-main__header-img-responsive
		display: inline-block
		height: 22px
	.flight__price
		font-size: 3em
	.flight__header-img
		display: none
	.flight__header-img-responsive
		display: inline-block
		height: 22px
	.community__btn
		display: block
		margin: 120px auto 20px
		height: 60px
		max-width: 300px
		width: 100%
		text-align: center
		&-text
			line-height: 60px
		&-sup
			float: right
			padding: 22px 12px
	.community__text
		display: block
		line-height: 24px
		margin: 0 auto
		max-width: 225px
	.questions__item-link
		display: none
	.questions__item
		//border-bottom: none!important
		padding: 20px 0 20px
	.questions__item-header
		text-align: center
		width: 100%
	.questions__btn
		margin-top: 50px
	.questions__item-description
		font-size: 1.125em
	.footer
		padding-top: 70px
		padding-bottom: 30px
	.footer__brand-logo
		display: none
	.footer__brand-logo-responsive
		display: block
		margin: 0 auto 65px
		text-align: center
	.footer__description
		color: white
		padding-bottom: 10px
	.footer__copyright
		text-align: center
		color: white
	.chosen-rtl .chosen-search input[type="text"],
	.chosen-container-single .chosen-single abbr,
	.chosen-container-single .chosen-single div b,
	.chosen-container-single .chosen-search input[type="text"],
	.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
	.chosen-container .chosen-results-scroll-down span,
	.chosen-container .chosen-results-scroll-up span
		background-repeat: no-repeat
/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

