@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.flight
		&__header
			&-start
				width: 25%
		&__content
			&-item
				margin-right: 62px
				&:last-child
					margin-right: 20px
		&__img
			max-width: 194px
	.questions__item-header
		width: 96%


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.flight
		&__header
			&-start
				width: 36%
			&-img
				display: none
				&-responsive
					display: block
					margin-left: 10px
					float: left
					height: 34px
			&-price
				width: 60%
		&__content
			&-item
				margin-right: 18px
				&:last-child
					margin-right: 20px
		&__img
			max-width: 150px
	.questions__item-header
		width: 95%


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.flight
		position: relative
		width: 100%
		&__img
			float: none
			width: 100%
			max-width: 250px
			margin: 0 auto
		&__header
			&-price
				//position: absolute
				//bottom: 0
				//margin: 0 auto
		&__responsive
			position: absolute
			top: 150px
			z-index: 2
		&__content
			&-img
				float: none
				display: inline-block
			&-item
				width: 90%
				display: inline-block
				float: none
			&-info
				display: inline-block
			&-description
				display: inline-block
			&-img:nth-child(5)
				display: none
			&-item:nth-child(6)
				display: none
			&-img:nth-child(7)
				display: none
			&-item:nth-child(8)
				display: none
	.questions__item-header
		width: 93%



/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	h1
		font-size: 3.000em
	h2
		font-size: 2.250em
	.img-grey
		display: none
	.img-black
		display: inline-block
	.header
		padding-top: 15px
		&__login
			display: none
		&__hide
			&-close
				display: inline-block
				position: absolute
				right: 10px
				z-index: 2
				color: $color_btn
				font-size: 40px
			&-content
				margin-top: 80vh
				text-align: center
			&-btn
				position: relative
				width: 200px
				padding: 17px 0 17px 0
			&-img
				position: absolute
				left: 15px
				height: 19px
		&__icon
			display: inline-block
			position: absolute
			right: 10px
	.header__text-description
		font-size: 1.250em
	.questions__item-link
		display: none
	.questions__item
		border-bottom: none!important
		padding: 20px 0 20px
	.questions__item-header
		text-align: center
	.questions__btn
		margin-top: 50px
	.footer__brand-logo
		width: 100px
	.footer__description
		color: white
		padding-bottom: 10px
	.footer__copyright
		text-align: center
		color: white
/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

