$bradley_bold: "bradley_bold", sans-serif
$roboto_black: "roboto_black", sans-serif
$roboto_bold: "roboto_bold", sans-serif
$roboto_light: "roboto_light", sans-serif
$roboto_medium: "roboto_medium", sans-serif

$color_btn: rgb(219, 19, 189)
$color_text: rgb(74, 74, 74)
$color_header: rgb(46, 46, 46)
$color_link: rgb(106, 79, 184)
$color_default: rgb(78, 54, 146)
$color_sub: rgb(176, 162, 215)
$color_background: rgba(176, 162, 215, 48)

